<!-- C A R D S - P R O D U I T S -->
<section id="cards" class="section-hidden">
    <div class="container-fluid mt-md-0">
        <div class="row col-md-10 mx-auto space-cards">
            {% for card in cards %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/' ~ (card.picture|default('cards-1.jpg'))) }}" alt="{{ card.title }}" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">{{ card.title }}</h1>
                            </div>
                            <p class="p-text col-9 col-md-8 mx-auto">{{ card.text }}</p>
                            <button class="card-button" onclick="window.location.href='{{ path('produit_details', {'id': card.id}) }}'">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 and not loop.last %}
                    </div><div class="row col-md-10 mx-auto space-cards mb-5">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- C A R D S - P R O D U I T S -->
