    <!-- C A R D S - P R O D U I T S -->
    <section id="cards">
        <div class="container-fluid mt-md-0">
            <div class="row col-md-10 mx-auto space-cards">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/cards-1.jpg') }}" alt="Lasure Protection du Bois" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">LOREM ISPUM ESTAS</h1>
                            </div>
                            <p class="p-text col-6 col-md-8 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Sed do eiusmod tempor incididunt.
                            </p>
                            <button class="card-button">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/cards-2.jpg') }}" alt="Lasure Protection du Bois" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">LOREM ISPUM ESTAS</h1>
                            </div>
                            <p class="p-text col-6 col-md-8 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Sed do eiusmod tempor incididunt ut.
                            </p>
                            <button class="card-button">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/cards-3.jpg') }}" alt="Lasure Protection du Bois" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">LOREM ISPUM ESTAS</h1>
                            </div>
                            <p class="p-text col-6 col-md-8 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Sed do eiusmod tempor incididunt ut.
                            </p>
                            <button class="card-button">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-10 mx-auto space-cards">
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/cards-4.jpg') }}" alt="Lasure Protection du Bois" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">LOREM ISPUM ESTAS</h1>
                            </div>
                            <p class="p-text col-6 col-md-8 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Sed do eiusmod tempor incididunt ut.
                            </p>
                            <button class="card-button">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/cards-5.jpg') }}" alt="Lasure Protection du Bois" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">LOREM ISPUM ESTAS</h1>
                            </div>
                            <p class="p-text col-6 col-md-8 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Sed do eiusmod tempor incididunt ut.
                            </p>
                            <button class="card-button">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/cards-6.jpg') }}" alt="Lasure Protection du Bois" class="card-img-top">
                        <div class="containt-text col-md-12">
                            <div class="containt-title mt-md-5">
                                <div class="icon-bg">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <h1 class="title-text">LOREM ISPUM ESTAS</h1>
                            </div>
                            <p class="p-text col-6 col-md-8 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing 
                                elit. Sed do eiusmod tempor incididunt.
                            </p>
                            <button class="card-button">DÉCOUVRIR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- C A R D S - P R O D U I T S -->